body {
    margin: 30px;
    font-family: 'Amita', cursive;
    background-color: blueviolet;
}

.player {
    font-size: 28pt;
    text-align: center;

}

.buttonStart {
    padding: 15px 32px;
    background-color: #4CAF50;
    border: none;
    font-size: 16px;
    width: 250px;
    text-align: center;
}

.jumbotron {
    color: black;
    font-size: 100px;
}

.players {
    display: none;
}

.players .rules {
    background-color: #D3D3D3;
    font-family: 'Caveat', cursive;
    font-size: 24pt;
}

ul {
color: #4CAF50
}